<div class="container py-5">
  <div>
    <h2>Create a new List</h2>
    <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: 'Drama' %>
    <%= f.submit class: 'btn btn-flat' %>
    <% end %>
  </div>
</div>

